<div class="user-container pr-16 pl-16">
  <h2>Add book</h2>
  <div nz-row>
    <h2 nz-col>Thể loại</h2>
    <div nz-col nzSpan="24" *ngFor="let category of categories">
      <label nz-checkbox [(ngModel)]="category.check">{{
        category.name
      }}</label>
    </div>
  </div>
  <div nz-row>
    <label for="author">Author</label>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a author"
      style="width: 100%"
    >
      <ng-container *ngFor="let author of authors">
        <nz-option [nzLabel]="author.name" [nzValue]="author.id"></nz-option>
      </ng-container>
    </nz-select>
  </div>
  <form class="login-form" [formGroup]="bookForm" enctype="multipart/form-data">
    <label for="title">title</label>

    <input type="text" id="title" nz-input formControlName="title" />
    <div
      class="red-text"
      *ngIf="
        bookForm.controls['title'].hasError('required') &&
        bookForm.controls['title'].touched
      "
    >
      Is required
    </div>
    <label for="price">price</label>
    <input type="number" id="price" nz-input formControlName="price" />
    <div
      class="red-text"
      *ngIf="
        bookForm.controls['price'].hasError('required') &&
        bookForm.controls['price'].touched
      "
    >
      Is required
    </div>
    <label for="pages">pages</label>
    <input type="number" id="pages" nz-input formControlName="pages" />
    <div
      class="red-text"
      *ngIf="
        bookForm.controls['pages'].hasError('required') &&
        bookForm.controls['pages'].touched
      "
    >
      Is required
    </div>
    <label for="quantity">quantity</label>
    <input type="number" id="quantity" nz-input formControlName="quantity" />
    <div
      class="red-text"
      *ngIf="
        bookForm.controls['quantity'].hasError('required') &&
        bookForm.controls['quantity'].touched
      "
    >
      Is required
    </div>
    <label for="description">Description</label>
    <textarea
      type="text"
      id="description"
      nz-input
      formControlName="description"
      nzAutosize
    ></textarea>
    <div
      class="red-text"
      *ngIf="
        bookForm.controls['description'].hasError('required') &&
        bookForm.controls['description'].touched
      "
    >
      Is required
    </div>

    <label for="publisher">publisher</label>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a publisher"
      style="width: 100%"
      formControlName="publisher"
    >
      <ng-container *ngFor="let publisher of publishers">
        <nz-option
          [nzLabel]="publisher.name"
          [nzValue]="publisher.id"
        ></nz-option>
      </ng-container>
    </nz-select>

    <p>
      <input type="file" (change)="onFileSelect($event)" en />
    </p>
    <button nz-button type="submit" class="mt-16" nzBlock (click)="saveUser()">
      <!-- [disabled]="bookForm.invalid" -->
      Lưu
    </button>
  </form>
</div>
