<nz-layout class="wrapper">
  <nz-sider
    class="sidebar"
    [nzWidth]="240"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <ul nz-menu nzMode="inline" nzTheme="light" style="height: 100%">
      <div class="d-flex justify-flex-end">
        <img
          src="assets/icon/logo.webp"
          alt=""
          class="sidebar-logo"
          *ngIf="!isCollapsed"
          (click)="navigate('home')"
        />
        <button
          nz-button
          (click)="toggleCollapsed()"
          class="sidebar-btn mr-16 mb-8 mt-16"
        >
          <i nz-icon [nzType]="isCollapsed ? 'arrow-right' : 'arrow-left'"></i>
        </button>
      </div>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
      >
        <i nz-icon nzType="user"></i>
        <span (click)="navigate('admin/user')">Quản lý người dùng</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="appstore"></i>
        <span (click)="navigate('admin/listBook')">Quản lý sách</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="setting"></i>
        <span (click)="navigate('admin/manageOrders')">Quản lý đơn hàng</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout nzTheme="light">
    <nz-header nzTheme="light">
      <div class="d-flex align-center justify-flex-end" style="height: 100%">
        <div
          nz-popover
          [nzPopoverContent]="popover"
          class="d-flex align-center justify-flex-end"
          style="height: 30px"
        >
          <nz-avatar
            nzIcon="user"
            nzSrc="assets/avt/2.jpg"
            class="d-flex align-center justify-center"
          ></nz-avatar>

          {{ user?.name }}
        </div>
      </div>
    </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #popover>
  <ul nz-menu style="background-color: #fff">
    <li nz-menu-item class="login-menu" (click)="navigate('/purchase')">
      Đơn mua
    </li>
    <li nz-menu-item class="login-menu" (click)="logOut()">Đăng xuất</li>
  </ul>
</ng-template>
