<nz-table #basicTable [nzData]="dataSet" class="mt-16 pl-16 pr-16">
  <thead>
    <tr>
      <th>STT</th>
      <th>ID</th>
      <th>email</th>

      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.id }}</td>
      <td>{{ data.email }}</td>

      <td>{{ convertRole(data.role) }}</td>
      <td>{{ data.status }}</td>

      <td>
        <button class="mb-16 mr-8" nz-button (click)="showModal(data)">
          <i nz-icon nzType="delete" nzTheme="fill"></i>
          Change status
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>Thay đổi trạng thái</ng-template>

  <ng-template #modalContent>
    <nz-select [(ngModel)]="status" style="width: 100px">
      <nz-option nzValue="active" nzLabel="active"></nz-option>
      <nz-option nzValue="pending" nzLabel="pending"></nz-option>
      <nz-option nzValue="deactive" nzLabel="deactive"></nz-option>
    </nz-select>
  </ng-template>
</nz-modal>
