<div class="container">
  <h1>Các đơn hàng</h1>
  <div nz-row *ngFor="let dataSet of orders">
    <nz-divider
      [nzText]="getOrderId(dataSet.order_id)"
      nzOrientation="left"
    ></nz-divider>
    <div *ngIf="showCancelBtn(dataSet.status)">
      <button
        nz-button
        class="mb-16 btn-cancel"
        (click)="cancelOrder(dataSet.order_id)"
      >
        Hủy đơn hàng
      </button>
    </div>
    <div nz-col>
      <h3>Trạng thái đơn hàng</h3>
      <nz-steps [nzCurrent]="getStatus(dataSet.status)">
        <nz-step nzTitle="Đặt hàng thành công" nzIcon="check-circle"></nz-step>
        <nz-step nzTitle="Đang giao hàng" nzIcon="solution"></nz-step>
        <nz-step nzTitle="Done" nzIcon="shopping"></nz-step>
        <nz-step nzTitle="Đã hủy" nzIcon="smile"></nz-step>
        <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
      </nz-steps>
    </div>
    <div nz-col class="mt-16">
      <h3>Sản phẩm</h3>
      <nz-table #basicTable [nzData]="dataSet.ordersDetail">
        <thead>
          <tr>
            <th>STT</th>
            <th>Sản phẩm</th>
            <th></th>

            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Số tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.title }}</td>
            <td>
              <img [src]="getLink(data.image)" alt="" class="cart-image" />
            </td>

            <td>{{ data.price | currency: "VND":true }}</td>
            <td>
              {{ data.num }}
            </td>
            <td>{{ data.price * data.num | currency: "VND":true }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
