<div class="container">
  <div nz-row>
    <div nz-col [nzSpan]="2">
      <img src="assets/icon/call.webp" alt="" />
    </div>
    <div nz-col [nzSpan]="4" [nzOffset]="6">
      <img src="assets/icon/logo.webp" alt="" />
      <span></span>
    </div>
    <div nz-col [nzSpan]="3" [nzOffset]="9" class="shopping-cart">
      <nz-badge [nzCount]="countCart">
        <img src="assets/icon/card.webp" alt="" class="card-logo" />
      </nz-badge>
      <!-- <div class="shopping-desc">
        <h2 class="shopping-heading">Shopping-card</h2>
        <p class="shopping-count">item - 0</p>
      </div> -->
    </div>
  </div>
</div>

<div class="headerContainer">
  <div class="container">
    <div nz-row nzAlign="middle" class="full-height">
      <div nz-col [nzSpan]="12">
        <ul nz-menu nzMode="horizontal">
          <li nz-menu-item nzSelected>
            <i nz-icon nzType="home"></i>
            Home
          </li>
          <li
            nz-menu-item
            nz-button
            nz-dropdown
            [nzDropdownMenu]="menu"
            [nzPlacement]="'bottomLeft'"
          >
            <i nz-icon nzType="appstore"></i>
            Category
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu *ngFor="let category of categories">
                <li nz-menu-item>{{ category }}</li>
              </ul>
            </nz-dropdown-menu>
          </li>

          <li nz-menu-item>FAQs</li>
          <li nz-menu-item>Contact</li>
          <li nz-menu-item>About Us</li>
        </ul>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input
              type="text"
              nz-input
              placeholder="input search text"
              class="full-height"
            />
          </nz-input-group>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div *ngIf="isLogined; else login" class="ml-16 logined">
          <button
            nz-popover
            nzType="primary"
            nzPopoverTitle="Title"
            nzPopoverContent="Content"
            nzPopoverPlacement="bottom"
          >
            hello
          </button>

          `
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch class="full-height">
    <i nz-icon nzType="search" style="color: red"></i>
  </button>
</ng-template>

<ng-template #login>
  <div class="login">
    <p class="login-btn mr-20">Đăng kí</p>
    <p class="login-btn">Đăng nhập</p>
  </div>
</ng-template>
