<div class="container"></div>
<div class="headerContainer">
  <div class="container full-height">
    <div nz-row nzAlign="middle" class="full-height">
      <div nz-col [nzSpan]="2">
        <img src="assets/icon/logo2.jpg" alt="" class="logo" />
      </div>
      <div nz-col [nzSpan]="18" class="mb-8">
        <!-- <ul nz-menu nzMode="horizontal">
          <li
            nz-menu-item
            [nzSelected]="navigateList.home"
            (click)="navigate('home')"
          >
            <i nz-icon nzType="home"></i>
            Home
          </li>

          <li nz-menu-item>FAQs</li>
          <li nz-menu-item>Contact</li>
          <li nz-menu-item>About Us</li>
        </ul> -->
      </div>

      <div nz-col [nzSpan]="4">
        <div
          class="ml-16 logined"
          nz-popover
          nzType="primary"
          [nzPopoverContent]="loginedInfo"
          nzPopoverPlacement="bottom"
        >
          <img src="assets/icon/avt.jpg" alt="" class="user-avt" />
          <h2 class="user-name ml-8">Đào Minh</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #suffixIconButton>
  <button nzSearch class="full-height search-btn" (click)="searchByTitle()">
    <i nz-icon nzType="search"></i>
  </button>
</ng-template>

<ng-template #loginedInfo>
  <ul nz-menu style="background-color: #fff">
    <li nz-menu-item class="login-menu" (click)="navigate('/purchase')">
      Thay đổi thông tin
    </li>
    <li nz-menu-item class="login-menu" (click)="logOut()">Đăng xuất</li>
  </ul>
</ng-template>
