<div class="container">
  <div class="user">
    <div class="user-default">
      <p>
        <button (click)="handleChangeAvatar()">Change avatar</button>
        <input
          type="file"
          (change)="onFileSelect($event)"
          #avatarImage
          hidden
        />
      </p>
      <img
        [src]="
          imageData
            ? 'http://192.168.2.202:8000/images/avatar/' + imageData
            : 'assets/icon/avt.jpg'
        "
        alt=""
      />
      <h2>Dao Minh</h2>
    </div>
    <form class="login-form" [formGroup]="userForm" *ngIf="true">
      <label for="job">Job</label>
      <input
        type="text"
        id="job"
        nz-input
        formControlName="job"
        style="width: 100%"
      />
      <div
        class="red-text"
        *ngIf="
          userForm.controls['job'].hasError('required') &&
          userForm.controls['job'].touched
        "
      >
        Is required
      </div>

      <label for="dob">Ngày sinh</label>
      <!-- <input type="date" formControlName="dob" nz-input id="job" /> -->
      <nz-date-picker
        nzPlaceHolder="Vui lòng nhập ngày sinh"
        formControlName="dob"
        [nzDisabledDate]="disabledDate"
        style="width: 100%"
        nzFormat="yyyy-MM-dd"
        (ngModelChange)="onChange($event)"
      ></nz-date-picker>

      <label for="address">Address</label>
      <input
        type="text"
        id="address"
        nz-input
        formControlName="address"
        style="width: 100%"
      />
      <div
        class="red-text"
        *ngIf="
          userForm.controls['address'].hasError('required') &&
          userForm.controls['address'].touched
        "
      >
        Is required
      </div>
      <label for="tel">Tel</label>
      <input
        type="text"
        id="tel"
        nz-input
        formControlName="tel"
        style="width: 100%"
      />
      <div
        class="red-text"
        *ngIf="
          userForm.controls['tel'].hasError('required') &&
          userForm.controls['tel'].touched
        "
      >
        Is required
      </div>
      <div
        class="red-text"
        *ngIf="
          userForm.controls['tel'].hasError('pattern') &&
          userForm.controls['tel'].touched
        "
      >
        Số điện thoại không đúng
      </div>
      <button
        nz-button
        type="submit"
        class="mt-16"
        (click)="saveUser()"
        style="width: 47 0px !important"
        [disabled]="userForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
