.line {
  position: relative;
  height: 2px;
  width: 150px;
  background-color: #ff4157;
  margin: 0 auto 35px;
  bottom: 0;
  top: 0;
  span {
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #ff4157;
    top: 6px;
    margin: auto;
    left: 0;
    right: 0;
    &::before{
      left: -10px;
      position: absolute;
    height: 2px;
    width: 6px;
    content: "";
    background-color: #ff4157;
    top: 0px;
    }
    &::after{
      right:-10px;
      position: absolute;
    height: 2px;
    width: 6px;
    content: "";
    background-color: #ff4157;
    top: 0px;
    }
  }
}

.trending-title{
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
    margin-bottom: 0;
    position: relative;
    margin-top: 0;
    font-size: 36px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .02em;

}
