<div class="pr-16 pl-16">
  <div class="mt-16 mb-16 mr-16">
    <button nz-button (click)="navigate('/admin/user/addUser')">
      <i nz-icon nzType="plus-circle" nzTheme="fill"></i>

      Thêm user
    </button>
  </div>
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th style="width: 10px">STT</th>
        <th>Tên</th>
        <th>Số điện thoại</th>

        <th>Địa chỉ</th>
        <th>Email</th>
        <th>Password</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.fullname }}</td>
        <td>{{ data.phone_number }}</td>

        <td>{{ data?.address }}</td>
        <td>{{ data?.email }}</td>
        <td>{{ data?.password }}</td>
        <td>{{ data.DOB | date }}</td>
        <td>
          {{ data?.sex }}
        </td>
        <td>
          <button
            nz-button
            (click)="createModal(data.id)"
            class="mr-8 mb-8"
            nzDanger
          >
            <i nz-icon nzType="delete" nzTheme="fill"></i>
            Xóa
          </button>
          <button nz-button (click)="navigateToDetail(data)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>Sửa
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
