.cart-detail-input{
  height: 32px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  text-align: center;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 40px;

}


.cart-detail-price{
 font-size: 3.4rem;
 color:#ff4157;
 font-weight: 600;
}
// ::ng-deep .ant-input:focus{
//   border-color:red ;
// }

.cart-detail-btn{
  margin-top: 32px;
  background-color: #ff4157;
  width: 300px;
  color:#fff;
  height: 4rem;
  border: none;
  font-size: 2rem;
  padding:4px auto;
}

.cart-infor{
  font-size: 1.6rem;
  font-weight: 600;
}


::ng-deep .ant-tabs-tab{
  font-size: 2rem;
}
