<div class="user-container pr-16 pl-16">
  <h2>Edit user</h2>
  <form class="login-form" [formGroup]="userForm">
    <label for="email">email</label>

    <input type="text" id="email" nz-input formControlName="email" />
    <div
      class="red-text"
      *ngIf="
        userForm.controls['email'].hasError('required') &&
        userForm.controls['email'].touched
      "
    >
      Is required
    </div>
    <div
      class="red-text"
      *ngIf="
        userForm.controls['email'].hasError('email') &&
        userForm.controls['email'].touched
      "
    >
      Invalid email!
    </div>
    <label for="password">Mật khẩu</label>
    <input type="password" id="password" nz-input formControlName="password" />
    <div
      class="red-text"
      *ngIf="
        userForm.controls['password'].hasError('required') &&
        userForm.controls['password'].touched
      "
    >
      Is required
    </div>
    <label for="sex">Giới tính</label>
    <div>
      <nz-radio-group formControlName="sex">
        <label nz-radio nzValue="male">male</label>
        <label nz-radio nzValue="female">female</label>
      </nz-radio-group>
    </div>
    <div>
      <label for="dob">Ngày sinh</label>
      <div>
        <nz-date-picker
          nzPlaceHolder="Vui lòng nhập ngày sinh"
          formControlName="dob"
          [nzDisabledDate]="disabledDate"
          style="width: 100%"
        ></nz-date-picker>
      </div>
    </div>

    <label for="fullname">Họ và tên</label>
    <input type="text" id="fullname" nz-input formControlName="fullname" />
    <div
      class="red-text"
      *ngIf="
        userForm.controls['fullname'].hasError('required') &&
        userForm.controls['fullname'].touched
      "
    >
      Is required
    </div>
    <label for="address">Địa chỉ</label>
    <input type="text" id="address" nz-input formControlName="address" />
    <div
      class="red-text"
      *ngIf="
        userForm.controls['address'].hasError('required') &&
        userForm.controls['address'].touched
      "
    >
      Is required
    </div>
    <label for="phone_number">Số điện thoại</label>
    <input
      type="text"
      id="phone_number"
      nz-input
      formControlName="phone_number"
    />
    <div
      class="red-text"
      *ngIf="
        userForm.controls['phone_number'].hasError('required') &&
        userForm.controls['phone_number'].touched
      "
    >
      Is required
    </div>
    <div
      class="red-text"
      *ngIf="
        userForm.controls['phone_number'].hasError('pattern') &&
        userForm.controls['phone_number'].touched
      "
    >
      Số điện thoại không đúng
    </div>
    <label for="sex">Quyền</label>
    <div>
      <nz-radio-group formControlName="role_id">
        <label nz-radio nzValue="1">user</label>
        <label nz-radio nzValue="2">admin</label>
      </nz-radio-group>
    </div>
    <button
      nz-button
      type="submit"
      class="mt-16"
      nzBlock
      (click)="saveUser()"
      [disabled]="userForm.invalid"
    >
      Lưu
    </button>
  </form>
</div>
