//autoprefixer & reset used
//Tested on Chrome, Firefox, IE11, and iOS.  The responsiveness & the social section is a bit off on IE11.  I'm looking to fix that.
//It would be best to break down the flex properties into logical classes.  I've actually done that more extensively on the live Pavilion site,  but I've only included one here: flex-rw.

$primary-light-blue: #8DB9ED;
$primary-line-color: #ccc;
* {
  box-sizing: border-box;
  // font-size: 16px !important;
}
html, body {
  height: 100%;
}
.flex-rw{
  margin-top: 50px;
}
body {
  font: 11px "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  //This justify-content is essentially unnecessary in Firefox and Chrome due to the flex: 1 1 auto on the main.  However, it's needed to push the footer down on IE11
  justify-content: space-between
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
  color: $primary-light-blue;
  &:visited {
    color: $primary-light-blue
  }
  &:hover {
    color: white;
  }
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
footer {
  border-top: 2px solid rgba(0, 0, 0, 0.233);
  // background-image: linear-gradient( rgba(217,161,191,1) 0%, rgba(141,223,252,1) 100%);
  background-image: linear-gradient(to right, rgba(217, 161, 191, 1) , rgba(141, 223, 252, 1));
  margin-top: auto;
  width: 100%;
}
.footer-list-top {
  width: 33.333%;
  // color: black;
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
  color: rgba(70, 70, 70, 0.603);
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: rgba(70, 70, 70, 0.603);
  font: 23px "Oswald", sans-serif
}
.footer-list-anchor {
  font: 13px "Open Sans", sans-serif;
  color: rgba(70, 70, 70, 0.603);
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10%;
  // left: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.233);
  width: calc(80%)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgba(55, 55, 55, 0);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 25px "Oswald", sans-serif;
  color: rgba(70, 70, 70, 0.603);
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid $primary-line-color;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: rgba(70, 70, 70, 0.603);
}
.footer-address {
  display: inline;
  font-style: normal
}
.fa {
  font-size: 25px;
  color: rgba(70, 70, 70, 0.603);
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
