<div class="footer">
  <div nz-row class="container">
    <div nz-col [nzSpan]="8">
      <img src="assets/icon/logo.webp" alt="" class="footer-logo" />
      <div class="footer-item">
        <i nz-icon nzType="environment" nzTheme="outline" class="mr-8"></i>
        <p class="footer-desc">Fiot Fashion Demo Store Demo Store USA</p>
      </div>
      <div class="footer-item">
        <i nz-icon nzType="phone" nzTheme="fill" class="mr-8"></i>
        <p class="footer-desc">Call Us: 123-456-7898</p>
      </div>
      <div class="footer-item">
        <i nz-icon nzType="mail" nzTheme="outline" class="mr-8"></i>
        <p class="footer-desc">Email Us: Support@Fiot.com</p>
      </div>
    </div>
    <div nz-col [nzSpan]="4">
      <h3 class="footer-title">YOUR ACCOUNT</h3>
      <div class="footer-item">
        <p class="footer-desc">Login</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">My Account</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">New Account</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">Wishlist</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">Look Book</p>
      </div>
    </div>
    <div nz-col [nzSpan]="4">
      <h3 class="footer-title">OUR COMPANY</h3>
      <div class="footer-item">
        <p class="footer-desc">About Us</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">Contact Us</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">Portfolio</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">SizeGuide</p>
      </div>
      <div class="footer-item">
        <p class="footer-desc">FAQs</p>
      </div>
    </div>
    <div nz-col [nzSpan]="8">
      <h3 class="footer-title">SIGN UP & GET OFFTER</h3>
      <div class="footer-item">
        <input
          type="text"
          nz-input
          placeholder="Enter your email address here..."
          class="footer-input mb-8"
        />
      </div>
      <div class="footer-item mb-8">
        <button nz-button nzDanger nzBlock>SUBSCRIBE</button>
      </div>
      <div class="footer-item">
        <i
          nz-icon
          nzType="facebook"
          nzTheme="outline"
          class="mr-16 footer-icon"
        ></i>
        <i
          nz-icon
          nzType="google-plus"
          nzTheme="outline"
          class="mr-16 footer-icon"
        ></i>
        <i
          nz-icon
          nzType="twitter"
          nzTheme="outline"
          class="mr-16 footer-icon"
        ></i>
        <i
          nz-icon
          nzType="instagram"
          nzTheme="outline"
          class="mr-16 footer-icon"
        ></i>
      </div>
    </div>
  </div>
</div>
